doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 this is the dashboard
    table 
        tr
            th Team 
            th RtgAvg 
        tr 
            td Argentinia Krakens
            td(class="Krakens") 2450
        tr 
            td Armenia Eagles
            td(class="Eagles") 2370
        tr 
            td Brazil Capybaras
            td(class="Capybaras") 2331
        tr 
            td Canada Chessbrahs
            td(class="Chessbrahs") 2173
        
    script(src="/javascripts/primus.js") 
    script(src="/javascripts/dashboard.js") 