*{
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
}
.homework{
    background-color: #e22959;
}
.broken{
    background-color: #80fef4;
}
.infinity{
    background-color:#fbfd00;
}
div{
    font-size: 1.5em;
    height: 100%;
    padding: 1em;
    text-align: center;
}
@media(min-width: 600px){
    section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 900px){
    section{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .infinity{
        grid-column: 4/ span 2;
        grid-row: 2 / span 2;
    }
    .broken{
        grid-column: 3;
        grid-row: 1 / span 3;
    }
}
