*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    color: white;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-image: url("images/pexels-vishnu-r-nair-1105666.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: rgba(255, 255,255, 0.5);
    background-blend-mode: overlay;
    
}
section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 8fr 1fr 1fr;
    height: 100vh;
    
}
img{
    max-width: 100%;
    width: 16em;
    
}
.title{
    background-color:#000000;
    grid-column: 1 / span1;
}
.title h1{
    font-size: 3em;
}
.title h2{
    font-size: 1em;
    letter-spacing: 0.3em;
}
.qr{
    grid-column: 1/ span1;
    
}
.date{
    grid-row: 3;
}
.frustrated{
    display: none;
}
.price{
    grid-row: 4;
    grid-column: 1/span1;
    flex-direction: row;
}
.price span{
    font-weight: lighter;
}
.bottom{
    font-size: 1.4em;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: black;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 900px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        height: 383px;
        width: 1000px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        grid-template-rows:3fr 1fr 1fr ;
        color: black;
        
    }
    .title{
          border-style: solid;
        border-width: 1px;
        border-color: black;
        grid-column: 1 / 4;
        flex-direction: column-reverse;
        background-color:transparent;

    }
    .qr{
        grid-column: 4;
        grid-row: 1/span1;

    }
    .date{
        grid-column: 1;
        grid-row: 2;
    }
    .admit{
        grid-column: 2;
    }
    .frustrated{
        display: block;
        grid-column: 1/4;
        font-weight: lighter;
        font-size: 1em;
        display: flex;
        align-items: center;
    }
    .price{
        grid-column: 3;
        grid-row: 2;
    }
}
